extends ../main_layout
block head
    title #{title}
    link(rel="stylesheet", href="/stylesheets/style.css")
block content
    div.index
        h1 #{title}
            a.pull-right(href=newProjectTipPath(project_id)) + New
        div.tips
        each tipObject in results
            div.tip
                div.thanks #{tipObject.thanks}
                div.tip-description
                    div.title
                        -console.log(tipObject)
                        h3
                            a(href=projectTipPath(project_id, tipObject.id)) #{tipObject.title}
                    div.tags
                        each tag in tipObject.tags
                            span #{tag}

